<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>세미프로잭트</title>
</head>
<body>
<div id="wrap">
    <header><h1>세미프로잭트 로그인</h1></header>
    <nav><ul>
        <li><a href="/">home</a></li>
        <li><a href="/member/join"> 회원가입 </a></li>
        <li><a href="/member/login">로그인</a></li>
        <li><a href="/board/list">게시판</a></li>
        <li><a href="/member/myinfo">회원정보</a></li>
    </ul>
    </nav>
    <hr>
    <main>
        <h2>로그인</h2>
        <form name="loginfrm" method="post">
            <div><label for="userid">아이디</label>
                <input type="text" name="userid" id="userid" required></div>
            <div><label for="passwd">비밀번호</label>
                <input type="password" name="passwd" id="passwd" required></div>
            <div><button type="submit" id="loginbtn">로그인</button>

        </form>
        <footer>
            <hr>
            <p>copyright &copy; 2024. hyeok. all rights reserved.</p>
        </footer>
    </main>
</div>
</body>
</html>
