/*매뉴*/
#wrap{width: 1080px; margin:auto}
nav { overflow: auto; white-space: nowrap}
nav{text-align: center}
nav ul li {list-style: none; display: inline; margin-right:150px }
hr {border: 2px solid black; }
a:link {color: black; text-decoration: none; font-weight: bold}
a:visited {color: mediumseagreen}
a:active {color: red}
main{min-height: 500px}

/*footer*/
footer p{text-align: center}
footer hr {border: 2px solid black;margin-top: 500px; }

